<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="phonebookEntities" connectionString="metadata=res://*/DataLayer.phoneBook.csdl|res://*/DataLayer.phoneBook.ssdl|res://*/DataLayer.phoneBook.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=phonebook;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>